{% extends "base.html.twig" %}

{% block main %}
    <div class="wrapper">
        <form class="competitor-create" action="{{ path('create') }}" method="post">
            <div class="create-header">
                Race Entry
            </div>
            <div class="create-competitoritem">
                <div class="create-competitoritem-label">Name</div>
                <input type="text" class="create-competitoritem-content" name="competitor[name]" required/>
            </div>
            <div class="create-competitoritem">
                <div class="create-competitoritem-label">Age</div>
                <input type="number" min="1" class="create-competitoritem-content" name="competitor[age]" required/>
            </div>
            <div class="create-competitoritem">
                <div class="create-competitoritem-label">Team</div>
                <input class="create-competitoritem-content" name="competitor[team]" required/>
            </div>
            <div class="create-competitoritem">
                <div class="create-competitoritem-label">Category</div>
                <select class="create-competitoritem-content" name="competitor[category]" id="category">
                    <option value="Superbike and Senior TT Races">Superbike and Senior TT Races</option>
                    <option value="Sidecar TT Races">Sidecar TT Races</option>
                    <option value="Superstock TT Race">Superstock TT Race</option>
                </select>
            </div>
            <div class="create-button-holder">
                <button type="submit" class="button">Register</button>
                <a type="button" href="/" class="button">Back</a>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}